<section class="container-alterar-filmes d-flex">
  <div
    _ngcontent-cgr-c6=""
    class="filmes"
    ng-reflect-ng-style="[object Object]"
    style='background-image: url("https://occ-0-697-1567.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABV-CC-Ut0thlDHGXvpWSMRQ8TDYObe4PlfagnIzQ38INU8gFus5RffGCoyyrDwFr9voDjXq1_mVnJSsgno35indsOks.webp?r=301");'
  ></div>

  <article  ng-reflect-ng-style="[object Object]">
  <div _ngcontent-cgr-c6="" class="detalhes-filmes">
    <p _ngcontent-cgr-c6="">Nome 1</p>
    <p _ngcontent-cgr-c6="">descrição 1</p>
    <p _ngcontent-cgr-c6="">autor 1</p>
    <p _ngcontent-cgr-c6="">sinopse teste 1</p>
    <button _ngcontent-cgr-c6="" class="btn btn-secondary btn-sm" type="button">
      Editar
    </button>
  </div>
</article>

</section>
 